* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}
.site-title {
  font-size: 2rem;
}
.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}
.nav a {
  text-decoration: none;
  color: white;
}

.nav li {
  list-style: none;

}

.nav a:hover {
color: pink;
}